@media (min-width: 992px) {
  .menu__list {
    justify-content: flex-end;
    font-size: var(--font-size-2);
  }
  .menu__item {
    padding: 16px;
  }
/* ----- SEKCJA HERO -------- */
  .hero__background {
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../Identyfikacja/tlo.jpg);
  }

  .hero{
  display: grid;
  grid-template-columns: 65vw auto;
  }

  .hero__content {
    padding: 1rem;
  }

  .hero__logo {
    height: 10rem;
    margin-bottom: 6rem;
  }

  .hero__prompt {
    margin-bottom: 3rem;
  }

  .hero__prompt h1 {
    font-size: 2rem;
  }

  .h--icon {
    width: 4.5rem;
    font-size: 4rem;
  }

  .btn{
    background-color: rgba(255, 255, 255, 0.1);
    height: 4.5rem;
    width: 15rem;
    font-size: 1.6rem;
  }



/* ------- SEKCJA INFO --------*/
  .info__item {
    width: 25%;
  }
  .info--1,
  .info--3 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .info--2,
  .info--4 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }
  .moreInfo__wrapper {
    width: 80%;
  }
  .moreInfo__title {
    width: 90%;
  }
  .moreInfoBox {
    padding: 1rem 4rem;
  }

  .moreIcon--1,
  .moreIcon--4,
  .moreIcon--5,
  .moreIcon--8 {
    color: var(--primary-color);
  }
  .moreIcon--2,
  .moreIcon--3,
  .moreIcon--6,
  .moreIcon--7 {
    color: var(--fourth-color);
  }

  .aboutUs__content {
    width: 25%;
  }

  .content--1,
  .content--3 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .content--2,
  .content--4 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }

  .social--1,
  .social--3 {
    color: var(--primary-color);
  }

  .social--2,
  .social--4 {
    color: var(--sixth-color);
  }

  .newsletter__title {
    width: 80%;
  }
  .newsletter__wrapper > p {
    width: 80%;
  }
  .newsletter__wrapper {
    width: 45%;
  }
  .newsletter__input {
    width: 70%;
  }
  .box {
    width: 80%;
  }
}
