@media (min-width: 992px) {
  .menu__list {
    justify-content: flex-end;
    font-size: var(--font-size-2);
  }
  .menu__item {
    padding: 16px;
  }
  /* ----- SEKCJA HERO -------- */
  .hero__background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../Identyfikacja/tlo_3.jpg);
  }

  .hero {
    display: grid;
    grid-template-columns: 65vw auto;
    grid-template-rows: 80vh auto;
    margin-top: 4rem;
  }


  .hero__logo {
    height: 7rem;
    margin-bottom: 3rem;
  }

  .hero__prompt {
    margin-bottom: 1.5rem;
  }

  .hero__prompt h1 {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }

  .h--icon {
    width: 4.5rem;
    font-size: 3rem;
  }

  .hero__button {
    height: 4rem;
    width: 15rem;
    font-size: 1.4rem;
  }
  

  /* ------- SEKCJA INFO --------*/
  .info__item {
    width: calc(25% - 0.5rem);
    margin-bottom: 0.5rem;
  }

  .info--1,
  .info--3 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .info--2,
  .info--4 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }
  .moreInfo__wrapper {
    width: 80%;
  }
  .moreInfo__title {
    width: 90%;
  }
  .moreInfoBox {
    padding: 1rem 4rem;
  }

  .moreIcon--1,
  .moreIcon--4,
  .moreIcon--5,
  .moreIcon--8 {
    color: var(--primary-color);
  }
  .moreIcon--2,
  .moreIcon--3,
  .moreIcon--6,
  .moreIcon--7 {
    color: var(--fourth-color);
  }

  .aboutUs__content {
    width: calc(25% - 0.5rem);
  }

  .content--1,
  .content--3 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .content--2,
  .content--4 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }


  .aboutUs__social2 {
    display: none;
  }

  .social--1,
  .social--2,
  .social--3,
  .social--4 {
    padding: 0.75rem;
  }  

  .social--1,
  .social--3 {
    color: var(--sixth-color);
  }

  .social--2,
  .social--4 {
    color: var(--primary-color);
  }

  .newsletter__title {
    width: 80%;
  }
  .newsletter__wrapper > p {
    width: 80%;
  }
  .newsletter__wrapper {
    width: 45%;
  }
  .newsletter__input {
    width: 70%;
  }
  .box {
    width: 80%;
  }

  .cookie {
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .cookie__text {
    width: 60%;
  }
}
