@media (min-width: 576px) {
  .menu {
    display: flex;
    height: 50px;
  }

  .menu__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: none;
    flex-grow: 1;
    border: none;
  }

  .menu__icon {
    display: none;
  }

  .link {
    border-bottom: none;
  }

  .info__icon {
    font-size: 2.5rem;
  }
/* ------- HERO --------*/

.hero {
  margin-top: 9rem;
  margin-bottom: 3rem;
}

.hero__logo {
  height: 7rem;
}

.hero__intro {
  margin: 0 3rem;
}

.hero__prompt h1 {
  font-size: 1.5rem;
}

.hero__button {
  margin-top: 4rem;
}

.btn {
  height: 3.5rem;
  width: 10rem;
  font-size: 1.5rem;
}



/* --------INFO --------*/
  .info {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .info--1,
  .info--4 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .info--2,
  .info--3 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }

  .info__item {
    padding: 1rem;
    width: 50%;

  }

  .aboutUs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .aboutUs__content {
    width: 50%;
  }

  .content--1,
  .content--4 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .content--2,
  .content--3 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }

  .moreInfo__title {
    width: 90%;
  }
  .moreInfo__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    width: 90%;
  }
  .moreInfoBox {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    width: 50%;
    height: auto;
  }

  .moreIcon--1,
  .moreIcon--4,
  .moreIcon--5,
  .moreIcon--8 {
    color: var(--primary-color);
  }
  .moreIcon--2,
  .moreIcon--3,
  .moreIcon--6,
  .moreIcon--7 {
    color: var(--fourth-color);
  }

  .social--1, .social--4 {
    color: var(--primary-color);
  }
  
  .social--2, .social--3 {
    color: var(--sixth-color);
  }

  .newsletter__title {
    width: 80%;
  }
  .newsletter__wrapper > p {
    width: 80%;
  }
  .newsletter__wrapper {
    width: 500px;
  }
  .newsletter__input {
    width: 60%;
  }
  .box {
    width: 70%;
  }
}
