:root{
    --primary-color:#141C08;
    --secondary-color:#274d2c;
    --third-color:#eee;
    --fourth-color:#c3c78d;
    --fifth-color: #42522b;  /*tlo Info*/
    --sixth-color: #f4ffc7; /*napisy w Info*/
    --primary-font:'Lora', 'serif';
    --secondary-font:'Merriweather', 'serif';
    --font-size-1: 0.5rem;
    --font-size-2: 1rem;
    --font-size-3: 1.5rem;
    --font-size-4: 2rem;
}