:root{
    --primary-color:#13251a;
    --secondary-color:#274d2c;
    --third-color:#eee;
    --fourth-color: #acc48b;
    --fifth-color:#4e6149;  /*tlo Info*/
    --sixth-color: #ecffc7; /*napisy w Info*/
    --primary-font:'Lora', 'serif';
    --secondary-font:'Merriweather', 'serif';
    --font-size-1: 0.5rem;
    --font-size-2: 1rem;
    --font-size-3: 1.5rem;
    --font-size-4: 2rem;
}