* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  min-width: 200px;
}

/*Stylowanie nawigacji*/

.menu {
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu__list {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  display: block;
}

.link {
  display: block;
  border-bottom: solid 1px var(--fourth-color);
  padding: 12px;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #ccc;
  text-decoration: underline;
}

.menu__icon {
  padding: 3px 48px;
  position: relative;
  cursor: pointer;
}

.nav__icon {
  background: var(--third-color);
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
  margin-left: 15px;
}

.nav__icon:before {
  background: var(--third-color);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;

  transition: all 0.2s ease-out;
}

.nav__icon:after {
  background: var(--third-color);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  transition: all 0.2s ease-out;
}

.menu__btn {
  display: none;
}

.menu__btn:checked ~ .menu__list {
  max-height: 300px;
}

/* changing menu sign into closing one*/
.menu__btn:checked ~ .menu__icon .nav__icon {
  background-color: transparent;
}

.menu__btn:checked ~ .menu__icon .nav__icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.menu__btn:checked ~ .menu__icon .nav__icon:after {
  transform: rotate(45deg);
  top: 0;
}

/*Ostylowanie tla sekcji hero*/
.hero__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(Identyfikacja/background_mobile.jpeg);

  background-size: cover;
  background-attachment: fixed;
}

.logo {
  height: 5rem;
}

/*przycisk Zapisu na premiere*/

.hero__button {
  display: block;
  text-align: center;
  margin-top: 2rem;
  height: 3rem;
  line-height: 2rem;
}

.btn {
  border-radius: 2px;
  padding: 6px 12px;
  height: 3rem;
  width: 10rem;
  border-radius: 8px;
  border: solid transparent;

  font-family: var(--secondary-font);
  font-size: 1.2rem;
  background-color: var(--primary-color);
  text-transform: uppercase;
  cursor: pointer;
  touch-action: manipulation;
}

.btn:hover {
  background-color: var(--fifth-color);
  opacity: 0.9;
  transition: 0.2s;
}

.link__button {
  text-decoration: none;
  color: var(--third-color);
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.info--1,
.info--3 {
  background-color: var(--fourth-color);
  color: var(--primary-color);
}

.info--2,
.info--4 {
  background-color: var(--fifth-color);
  color: var(--sixth-color);
}

.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 1rem 1rem;
}

.info__item p {
  text-align: center;
  font-family: var(--primary-font);
}

.info__icon {
  font-size: 2rem;
  text-align: center;
}

.info__header {
  font-size: var(--font-size-2);
  font-family: var(--primary-font);
  padding: 8px 0;
  letter-spacing: 4px;
}

/* Sekcja dodatkowe informacje */
.moreInfo {
  background-image: url(Identyfikacja/plant_pattern.jpg);
}
.moreInfo__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
}
.moreInfo__title {
  font-size: var(--font-size-2);
  font-family: var(--primary-font);
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  border-bottom: var(--primary-color) solid 1px;
  width: 90%;
  margin: 0 auto;
}

.moreInfoBox {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  padding: 1rem 1rem;
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 2;
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.moreInfo__header {
  font-size: var(--font-size-2);
  font-family: var(--primary-font);
  padding: 24px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.moreInfo__icon {
  font-size: 48px;
  text-align: center;
  margin-bottom: 16px;
}

.moreIcon--1,
.moreIcon--3,
.moreIcon--5,
.moreIcon--7 {
  color: var(--fourth-color);
}

.aboutUs {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--fourth-color);
}

/* Ostylowanie sekcji aboutUs__content */

.aboutUs__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
}

.content--2,
.content--4 {
  background-color: var(--secondary-color);
  color: wheat;
}

/* Ostylowanie zdjęć */

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2rem 0;
  background-repeat: no-repeat;
}

.photo--1 {
  background: url(nasze_zdjecia/KarinaMiernik.jpeg);
  background-size: contain;
}

.photo--2 {
  background: url(nasze_zdjecia/PaulinaMalinowska.jpeg);
  background-size: contain;
}

.photo--3 {
  background: url(nasze_zdjecia/MichalMarchewa.jpeg);
  background-size: contain;
}

.photo--4 {
  background: url(nasze_zdjecia/MaciejLangowski.jpeg);
  background-size: contain;
}

/* Stylowanie sekcji name */

.aboutUs__name {
  font-size: 24px;
  padding-top: 0.5rem;
}

/* Stylowanie paragrafu */

.aboutUs p {
  font-size: 16px;
  font-family: var(--primary-font);
}

/* Stylowanie sekcji aboutUs__social */

.aboutUs__social {
  padding-top: 8px;
}

/* Stylowanie ikon social mediów */

.social--1,
.social--2,
.social--3,
.social--4 {
  padding: 8px;
  font-size: 32px;
  display: inline-block;
  transition: transform 250ms;
}

.social--1,
.social--3 {
  color: var(--primary-color);
}

.social--2,
.social--4 {
  color: var(--sixth-color);
}

/* Dodanie efektów wizualnych do ikon social mediów */

.social--1:hover,
.social--2:hover,
.social--3:hover,
.social--4:hover {
  transform: translateY(-6px);
}

/**OSTYLOWANIE FORMULARZA*/

.newsletter {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(Identyfikacja/background_mobile.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  font-family: var(--primary-font);
}
/**Stylowanie tytułu*/

.newsletter__title {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  border-bottom: solid var(--primary-color) 3px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: var(--font-size-2);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
/**Stylowanie wrappera*/

.newsletter__wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0.5rem 0rem;
  border-radius: 2rem;
  word-wrap: break-word;
}
/**Stylowanie inputów*/

.newsletter__input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem 0rem;
  min-width: 20%;
  width: 90%;
}

.newsletter input {
  margin: 0 1rem;
  padding: 1rem 2.1rem;
  font-size: var(--font-size-2);
}
/**Stylowanie ikon*/

.newsletter__icon {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 1.1rem;
  margin-left: 1.9rem;
  color: var(--fourth-color);
  position: absolute;
}

/**Stylowanie paragrafu*/

.newsletter__wrapper > p {
  padding-top: 0.5rem;
  font-family: var(--primary-font);
  font-size: var(--font-size-2);
  line-height: 1.6rem;
  width: 90%;
  margin: 0 auto;
}

/**Stylowanie przycisku*/
.newsletter input[type="submit"] {
  padding: 0;
}

.newsletter__button {
  text-align: center;
  align-self: center;
  border-radius: 8px;
  height: 3rem;
  width: 10rem;
  border: solid transparent;
  box-shadow: 1px 7px 25px -2px rgba(0, 0, 0, 0.75);
  font-family: var(--secondary-font);
  font-size: var(--font-size-2);
  background-color: var(--primary-color);
  text-transform: uppercase;
  cursor: pointer;
  touch-action: manipulation;
  color: var(--third-color);
}

.newsletter__button:hover {
  background-color: var(--fifth-color);
  opacity: 0.9;
  transition: 0.2s;
}
/**Stylowanie inputu - checkbox*/

.box {
  width: 90%;
  padding: 0.5rem;
}
.newsletter input[type="checkbox"] + label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  text-align: left;
  margin: 0.2rem;
  cursor: pointer;
  padding: 0.2rem;
  font-size: 1rem;
}

.newsletter input[type="checkbox"] {
  display: none;
}

.newsletter input[type="checkbox"] + label:before {
  display: flex;
  background-color: #fff;
  content: "\2714";
  border: 0.1rem solid var(--fifth-color);
  border-radius: 0.2rem;
  width: 1rem;
  height: 1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.2rem;
  margin-right: 0.5rem;
  vertical-align: center;
  color: transparent;
  transform: translateY(0.5rem);
  transition: 0.3s;
}

.newsletter input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

.newsletter input[type="checkbox"]:checked + label:before {
  background-color: var(--fourth-color);
  color: var(--primary-color);
  border-color: var(--fifth-color);
}
/**Stylowanie ikony 'Do góry'*/

.newsletter__top__item {
  color: #fff;
  font-size: var(--font-size-3);
}
