@media (min-width: 992px) {
  .info__item {
    width: 25%;
  }
  .info--1,
  .info--3 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .info--2,
  .info--4 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }

  .aboutUs__content {
    width: 25%;
  }
}
