@media (min-width: 992px) {
  .info__item {
    width: 25%;
  }
  .info--1,
  .info--3 {
    background-color: var(--fourth-color);
    color: var(--primary-color);
  }

  .info--2,
  .info--4 {
    background-color: var(--fifth-color);
    color: var(--sixth-color);
  }

  .moreInfoBox {
    padding: 1rem 4rem;

  .aboutUs__content {
    width: 25%;
  }

  .content--1,
  .content--3 {
    background-color: #acc48b;
    color: var(--primary-color);
  }

  .content--2,
  .content--4 {
    background-color: #4e6149;
    color: var(--sixth-color);
  }
}
