:root{
    --primary-color:#0e1f14;
    --secondary-color:#274d2c;
    --third-color:#eee;
    --fourth-color: #acc48b;
    --fifth-color:#344f2d;
    --primary-font:'Lora', 'serif';
    --secondary-font:'Merriweather', 'serif';  }